@media only screen and  (max-width:600px) {
    
body{
background-color: hsl(0, 0%, 8%);
}
main{
    background-color:hsl(0, 0%, 12%);
    text-align: center;
    margin-top: 100px;
    border-radius: 20px;
    height: 650px;
    font-family: "Inter Thin";
    margin-bottom: 50px;
}
img{
    border-radius: 100px;
    height: 100px;
    width: 100px;
    margin-top: 20px;
}
h1{
    color: white;
}
h4{
color: hsl(75, 94%, 57%);
margin-top: -20px;
}
p{
 color: white;
}
section{
    display: block;
    border: none;
    color: white;
}
section div{
    width: 250px;
    background-color: hsl(0, 0%, 20%);
    justify-content: space-between;
    height: 10px;
    border-radius: 7px;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}
section div:hover{
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    font-weight: 800;
}
}
/*destop view*/

@media only screen and (min-width:650px) {
    
body{
background-color: hsl(0, 0%, 8%);
}
main{
    background-color:hsl(0, 0%, 12%);
    text-align: center;
    margin: auto;
    border-radius: 20px;
    height: 600px;
    font-family: "Inter Thin";
    width: 400px;
    margin-top: 15px;
}
img{
    border-radius: 100px;
    height: 100px;
    width: 100px;
    margin-top: 20px;
}
h1{
    color: white;
}
h4{
color: hsl(75, 94%, 57%);
margin-top: -20px;
}
p{
 color: white;
}
section{
    display: block;
    border: none;
    color: white;
}
section div{
    width: 250px;
    background-color: hsl(0, 0%, 20%);
    justify-content: space-between;
    height: 10px;
    border-radius: 7px;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
}
section div:hover{
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    font-weight: 800;
}
}